<div class="container pt-3">
    <div class="mt-2 p-1 bg-primary text-white rounded text-center">
        <h1>ToDo App</h1>
        <p>Advance Version With Filter </p>
    </div>
    <!-- <div class="row">
        <div class="col-5 pt-2">
            <input type="text" class="form-control" placeholder="Task Name">
        </div>
    </div> -->
    <div class="row">
        <div class="col-12 pt-2">
            <textarea class="form-control" [(ngModel)]="taskObj.taskName" rows="3" placeholder="Task Name"></textarea>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-2">
            <input type="date" class="form-control" [(ngModel)]="taskObj.dueDate" placeholder="Due Date">

        </div>
        <div class="col-6">
            <input type="text" [(ngModel)]="taskObj.tags" placeholder="Enter Comma Seperated tags" class="form-control">
        </div>
        <div class="col">
            <button class="btn btn-success me-1" (click)="addNewTask()">Add Task</button>
            <button class="btn btn-danger" (click)="clearAll()">Clear All</button>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col ">
            <button class="btn btn-sm me-1" [ngClass]="filterType == 'tags' ? 'btn-primary' : 'btn-secondary'" (click)="setFilterType('tags')">Filter By Tags</button>
            <button class="btn btn-sm me-1" [ngClass]="filterType == 'all' ? 'btn-primary' : 'btn-secondary'" (click)="setFilterType('all')">Show All</button>
            <button class="btn btn-sm me-1" [ngClass]="filterType == 'completed' ? 'btn-primary' : 'btn-secondary'" (click)="setFilterType('completed')">Show Completed</button>
        </div>
    </div>
    <div class="row pt-4" *ngIf="filterType == 'tags'">
        <div class="col ">
            @for (item of taglist; track $index) {
                <button class="btn btn-secondary btn-sm me-1" [ngClass]="selectedTag == item ? 'btn-success' : 'btn-secondary'" (click)="filterByType(item)">{{item}}</button> 
            }
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th><strong>Index</strong></th>
                        <th><strong>Task Name</strong></th>
                        <th><strong>Due Date</strong></th>
                        <th class="text-center"><strong>Tags</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of taskList; track $index) {
                        <tr>
                            <td style="text-align: center;">{{$index+1}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-1">
                                        <input type="checkbox" [(ngModel)]="item.isComplete" (change)="onComplete()">
                                    </div>
                                    <div class="col-6">
                                        {{item.taskName}}
                                    </div>
                                    <div class="col-4 text-end ">
                                        <i class="fa fa-close text-secondary px-3 text-danger" (click)="onRemove($index)"></i>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{item.dueDate | date: 'dd-MMM-yy'}}
                            </td>
                            <td class="text-center">
                                @for (item of getArrayFromCommaSepStr(item.tags); track $index) {
                                    <button class="btn btn-warning btn-sm rounded-btn me-1">{{item}}</button>
                                }
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>

    </div>
</div>